<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-11 ms-auto">

            <div class="text-center text-md-start">
                <h1 class="fw-bold text-primary">Departamentos</h1>

                <div class="d-grip d-md-block gap-2">

                    <button type="button" class="btn btn-primary me-md-1 col-md-2 mt-4s" (click)="gravar(modal)">
                        <i class="pi pi-user-plus me-2"></i>Novo
                    </button>
                    <a role="button" class=" btn btn-outline-primary col-md-2" routerLink="/painel">
                        <i class="pi pi-sign-out me-2"> </i>Voltar
                    </a>

                </div>

            </div>




            <div class="mt-4">
                <table class="table table-light table-striped table-hover">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">

                        <tr *ngFor="let departamento of (departamentos$ | async)">
                            <td>{{ departamento.nome }}</td>
                            <td>{{  departamento.telefone}}</td>

                            <td class="d-grid d-md-block ">

                                <button type="button" class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto"
                                    (click)="gravar(modal, departamento)">
                                    <i class="pi pi-user-edit"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger " (click)="excluir(departamento)">
                                    <i class="pi pi-trash"></i>
                                </button>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>







        </div>



    </div>
</div>

<ng-template #modal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ tituloModal }} de departamento</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
    </div>

    <div class="modal-body">

        <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">


            <div class="form-group mb-3">
                <label for="nome" class="form-label">Nome do departamento</label>
                <input class="form-control" formControlName="nome" id="nome" name="nome"
                    placeholder="Digite o nome do departamento" type="text"
                    [ngClass]="(nome?.invalid && (nome?.dirty || nome?.valueChanges))? 'is-invalid':'is-valid'">

                <div class="invalid-feedback" *ngIf="nome?.invalid && (nome?.dirty || nome?.valueChanges)">
                    <p *ngIf="this.nome?.errors?.['required']">Nome Necessario</p>
                    <p *ngIf="this.nome?.errors?.['minlength']">Nome Deve possuir no minimo 3 letras</p>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="telefone" class="form-label">Telefone.</label>
                <input class="form-control" formControlName="telefone" id="telefone" name="telefone"
                    placeholder="Digite o telefone do departamento" type="text"
                    [ngClass]="(telefone?.invalid && (telefone?.dirty || telefone?.valueChanges))? 'is-invalid':'is-valid'">

                <div class="invalid-feedback" *ngIf="telefone?.invalid && (telefone?.dirty || telefone?.valueChanges)">
                    <p *ngIf="this.telefone?.errors?.['required']">telefone Necessario</p>
                    <p *ngIf="this.telefone?.errors?.['minlength']">telefone Deve possuir no minimo 3 letras</p>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary col-md-3"
                    (click)="modal.dismiss('fechar')">Cancelar</button>
                <button
                type="submit"
                class="btn btn-primary col-md-3"
                [disabled]="this.form.invalid"
                >Gravar</button>
            </div>
        </form>


    </div>
</ng-template>
