<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 col-lg-11 ms-auto">

            <div class="text-center text-md-start">
                <h1 class="fw-bold text-primary">Requisições</h1>

                <div class="d-grip d-md-block gap-2">

                    <button type="button" class="btn btn-primary me-md-1 col-md-2 mt-4s" >
                        <i class="pi pi-user-plus me-2"></i>Novo
                    </button>
                    <a role="button" class=" btn btn-outline-primary col-md-2" routerLink="/painel">
                        <i class="pi pi-sign-out me-2"> </i>Voltar
                    </a>

                </div>

            </div>

            <div class="mt-4">
                <table class="table table-light table-striped table-hover">

                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Abertura</th>
                            <th>Ultima Att</th>
                            <th>Descricao</th>
                            <th>Departamento</th>
                            <th>Status</th>
                            <th>Movimentações</th>
                            <th>Ações</th>
                        </tr>
                    </thead>

                    <tbody class="text-center">

                        <tr *ngFor="let requisicao of(requisicoes$ | async)">
                            <td>{{ requisicao.dataAbertura }}</td>
                            <td>{{ requisicao.ultimaAtualizacao }}</td>
                            <td>{{ requisicao.descricao}}</td>
                            <td>{{ requisicao.departamento?.nome}}</td>
                            <td>{{ (requisicao.status)?"Aberta":"Fechada"}}</td>
                            <td>{{ requisicao.movimentacoes?.length}}</td>
                            <td class="d-grid d-md-block ">

                                <button type="button" class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto"
                                            >
                                    <i class="pi pi-user-edit"></i>
                                </button>


                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>


